<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voter Verification</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Welcome to Voter Verification Portal</h1>
    <div class="image-container">
        <img src="{{ url_for('static', filename='vote.jpg') }}" alt="Voting Process">
    </div>
    <div class="container">
        <h2>Select Verification Method</h2>
        <form action="/verify" method="post">
            <button type="submit" name="verification_method" value="face">Face ID Verification</button>
            <button type="submit" name="verification_method" value="otp">OTP Verification</button>
            <button type="submit" name="verification_method" value="voter_id">Voter ID Verification Verification</button>

        </form>
     
    </div>
    <footer>© 2025 Pixel Pals</footer>
</body>
</html>
